.main {
	padding-top: 40px;
	padding-bottom: 80px;
}

.main > .container {
	display: flex;
	gap: 40px;
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.overlayModal {
	overflow: hidden;
	scrollbar-gutter: stable;
}
