.ingredient {
	position: relative;
	/* max-width: 272px; */
	width: 272px;
	list-style: none;
}

.ingredientCounter {
}

.textBox p {
	display: flex;
	justify-content: center;
	gap: 10px;
}
