.container {
  composes: container from "../Home/Home.module.css";
}

.formBlock {
  composes: formBlock from "../Login/Login.module.css";
}

.textBlock {
  composes: textBlock from "../Login/Login.module.css";
}

.form {
  composes: form from "../Login/Login.module.css";
}

.textCenter {
  composes: textCenter from "../Login/Login.module.css";
  text-align: center;
}

.button {
  width: auto;
  margin: 0 auto;
}

.textSpan {
  composes: textSpan from "../Login/Login.module.css";
}

.block {
  position: relative;
  display: flex;
}

.icon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}
